///////////////////////////////////////////
// *** AVATAR STYLES ***
///////////////////////////////////////////
.avatar {
  display: flex;
  align-items: center;
  img {
    width: 3em;
    border-radius: 50%;
    margin: 1% 0.5em 1% 0;
  }
  time {
    margin-left: auto;
  }
}
