section#play {
  position: fixed;
  bottom: var(--navbar-height);
  right: 40px;
  padding: 0;
  margin: 0;
  aspect-ratio: 16/9;
  height: clamp(20vh, 300px, 33vh);
  background-color: black;
  border-radius: 10px;
  .viewport {
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 16/9;
    max-height: calc(100vh - var(--navbar-height));
    iframe {
      border: 0;
      aspect-ratio: 16/9;
      height: 100%;
    }
  }

  svg {
    font-size: 3em;
  }
}
